<br>
<h1>Question of the Day: <%= @question.title%></h1>
<p><%= @question.text%></p>
<br>
<%= simple_form_for @answer, url: questions_answers_path do |f| %>
  <%= f.input :text %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.button :submit %>
<% end %>
<br>
<h3>Answers</h3>
<% @answers = @question.answers.sort_by { |a| -a.score } %>
<% @answers.each do |answer| %>
<table>
  <tbody>
      <tr>
        <td><%= answer.text %></td>
      </tr>
      <tr>
        <td>Votes: <%= answer.score %></td>
      </tr>
      <tr>
        <td>User: <%= answer.user.email %></td>
      </tr>
      <tr>
        <td>
        <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, vote_questions_answers_path(:id => answer.id, :vote => {:value => 1} ), method: :post %>
        <%= link_to '<i class="fa fa-thumbs-down"></i>'.html_safe, vote_questions_answers_path(:id => answer.id, :vote => {:value => -1} ), method: :post %>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
<% end %>
