<h1>The Question of the Day</h1>
<h3><%= @question.title%></h3>
<p><%= @question.text%></p>
<br>
<%= simple_form_for @answer, url: questions_answers_path do |f| %>
  <%= f.input :text %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.button :submit %>
<% end %>
<br>
<h3>Answers</h3>
<% @question.answers.each do |answer| %>
<table>
  <tbody>
      <tr>
        <td><%= answer.text %></td>
      </tr>
      <tr>
        <td>Votes FILL IN</td>
      </tr>
    </tbody>
  </table>
  
<% end %>
